.flows.json.backup
[{"id":"6812dd01.895254","type":"tab","label":"Flow 1"},{"id":"1a364b30.210f95","type":"http in","z":"6812dd01.895254","name":"Github Push Webhook","url":"/github-webhook","method":"post","swaggerDoc":"","x":157.50001525878906,"y":200.75002479553223,"wires":[["aa926fe1.70ddc","cf69e9e3.a15ef8"]]},{"id":"212021bc.bf64ce","type":"function","z":"6812dd01.895254","name":"Get Commit URL","func":"msg.payload = msg.payload.commits[0].url;\nreturn msg","outputs":1,"noerr":0,"x":643.9480209350586,"y":267.4583730697632,"wires":[["e3d61406.6ec698"]]},{"id":"aa926fe1.70ddc","type":"http response","z":"6812dd01.895254","name":"Github Push Response","x":415.44800567626953,"y":201.0833339691162,"wires":[]},{"id":"46cbb458.787bac","type":"debug","z":"6812dd01.895254","name":"Stdout","active":true,"console":"false","complete":"payload","x":1254.4447021484375,"y":263.20836448669434,"wires":[]},{"id":"d1f59057.b27b","type":"debug","z":"6812dd01.895254","name":"Stderr","active":true,"console":"false","complete":"payload","x":1251.441156387329,"y":304.2083730697632,"wires":[]},{"id":"65a732cb.b965ac","type":"inject","z":"6812dd01.895254","name":"","topic":"","payload":"{   \"ref\": \"refs/heads/changes\",   \"before\": \"9049f1265b7d61be4a8904a9a27120d2064dab3b\",   \"after\": \"0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",   \"created\": false,   \"deleted\": false,   \"forced\": false,   \"base_ref\": null,   \"compare\": \"https://github.com/baxterthehacker/public-repo/compare/9049f1265b7d...0d1a26e67d8f\",   \"commits\": [     {       \"id\": \"0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",       \"tree_id\": \"f9d2a07e9488b91af2641b26b9407fe22a451433\",       \"distinct\": true,       \"message\": \"Update README.md\",       \"timestamp\": \"2015-05-05T19:40:15-04:00\",       \"url\": \"https://github.com/jewella/node-red-ci\",       \"author\": {         \"name\": \"baxterthehacker\",         \"email\": \"baxterthehacker@users.noreply.github.com\",         \"username\": \"baxterthehacker\"       },       \"committer\": {         \"name\": \"baxterthehacker\",         \"email\": \"baxterthehacker@users.noreply.github.com\",         \"username\": \"baxterthehacker\"       },       \"added\": [        ],       \"removed\": [        ],       \"modified\": [         \"README.md\"       ]     }   ],   \"head_commit\": {     \"id\": \"0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",     \"tree_id\": \"f9d2a07e9488b91af2641b26b9407fe22a451433\",     \"distinct\": true,     \"message\": \"Update README.md\",     \"timestamp\": \"2015-05-05T19:40:15-04:00\",     \"url\": \"https://github.com/baxterthehacker/public-repo/commit/0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",     \"author\": {       \"name\": \"baxterthehacker\",       \"email\": \"baxterthehacker@users.noreply.github.com\",       \"username\": \"baxterthehacker\"     },     \"committer\": {       \"name\": \"baxterthehacker\",       \"email\": \"baxterthehacker@users.noreply.github.com\",       \"username\": \"baxterthehacker\"     },     \"added\": [      ],     \"removed\": [      ],     \"modified\": [       \"README.md\"     ]   },   \"repository\": {     \"id\": 35129377,     \"name\": \"public-repo\",     \"full_name\": \"baxterthehacker/public-repo\",     \"owner\": {       \"name\": \"baxterthehacker\",       \"email\": \"baxterthehacker@users.noreply.github.com\"     },     \"private\": false,     \"html_url\": \"https://github.com/baxterthehacker/public-repo\",     \"description\": \"\",     \"fork\": false,     \"url\": \"https://github.com/baxterthehacker/public-repo\",     \"forks_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/forks\",     \"keys_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/keys{/key_id}\",     \"collaborators_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/collaborators{/collaborator}\",     \"teams_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/teams\",     \"hooks_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/hooks\",     \"issue_events_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/issues/events{/number}\",     \"events_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/events\",     \"assignees_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/assignees{/user}\",     \"branches_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/branches{/branch}\",     \"tags_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/tags\",     \"blobs_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/blobs{/sha}\",     \"git_tags_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/tags{/sha}\",     \"git_refs_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/refs{/sha}\",     \"trees_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/trees{/sha}\",     \"statuses_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/statuses/{sha}\",     \"languages_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/languages\",     \"stargazers_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/stargazers\",     \"contributors_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/contributors\",     \"subscribers_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/subscribers\",     \"subscription_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/subscription\",     \"commits_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/commits{/sha}\",     \"git_commits_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/commits{/sha}\",     \"comments_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/comments{/number}\",     \"issue_comment_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/issues/comments{/number}\",     \"contents_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/contents/{+path}\",     \"compare_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/compare/{base}...{head}\",     \"merges_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/merges\",     \"archive_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/{archive_format}{/ref}\",     \"downloads_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/downloads\",     \"issues_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/issues{/number}\",     \"pulls_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/pulls{/number}\",     \"milestones_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/milestones{/number}\",     \"notifications_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/notifications{?since,all,participating}\",     \"labels_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/labels{/name}\",     \"releases_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/releases{/id}\",     \"created_at\": 1430869212,     \"updated_at\": \"2015-05-05T23:40:12Z\",     \"pushed_at\": 1430869217,     \"git_url\": \"git://github.com/baxterthehacker/public-repo.git\",     \"ssh_url\": \"git@github.com:baxterthehacker/public-repo.git\",     \"clone_url\": \"https://github.com/baxterthehacker/public-repo.git\",     \"svn_url\": \"https://github.com/baxterthehacker/public-repo\",     \"homepage\": null,     \"size\": 0,     \"stargazers_count\": 0,     \"watchers_count\": 0,     \"language\": null,     \"has_issues\": true,     \"has_downloads\": true,     \"has_wiki\": true,     \"has_pages\": true,     \"forks_count\": 0,     \"mirror_url\": null,     \"open_issues_count\": 0,     \"forks\": 0,     \"open_issues\": 0,     \"watchers\": 0,     \"default_branch\": \"master\",     \"stargazers\": 0,     \"master_branch\": \"master\"   },   \"pusher\": {     \"name\": \"baxterthehacker\",     \"email\": \"baxterthehacker@users.noreply.github.com\"   },   \"sender\": {     \"login\": \"baxterthehacker\",     \"id\": 6752317,     \"avatar_url\": \"https://avatars.githubusercontent.com/u/6752317?v=3\",     \"gravatar_id\": \"\",     \"url\": \"https://api.github.com/users/baxterthehacker\",     \"html_url\": \"https://github.com/baxterthehacker\",     \"followers_url\": \"https://api.github.com/users/baxterthehacker/followers\",     \"following_url\": \"https://api.github.com/users/baxterthehacker/following{/other_user}\",     \"gists_url\": \"https://api.github.com/users/baxterthehacker/gists{/gist_id}\",     \"starred_url\": \"https://api.github.com/users/baxterthehacker/starred{/owner}{/repo}\",     \"subscriptions_url\": \"https://api.github.com/users/baxterthehacker/subscriptions\",     \"organizations_url\": \"https://api.github.com/users/baxterthehacker/orgs\",     \"repos_url\": \"https://api.github.com/users/baxterthehacker/repos\",     \"events_url\": \"https://api.github.com/users/baxterthehacker/events{/privacy}\",     \"received_events_url\": \"https://api.github.com/users/baxterthehacker/received_events\",     \"type\": \"User\",     \"site_admin\": false   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":202.6875762939453,"y":266.21875190734863,"wires":[["cf69e9e3.a15ef8"]]},{"id":"d2ff5e2e.a364","type":"file","z":"6812dd01.895254","name":"Error Log","filename":"error.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1267.9412269592285,"y":346.4375343322754,"wires":[]},{"id":"92e2db73.f2b778","type":"file","z":"6812dd01.895254","name":"Log","filename":"log.log","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1260.1946449279785,"y":219.941068649292,"wires":[]},{"id":"cf69e9e3.a15ef8","type":"function","z":"6812dd01.895254","name":"Convert Body to Payload","func":"msg.payload = msg.req ? msg.req.body : msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":414.6875915527344,"y":267.12502574920654,"wires":[["212021bc.bf64ce"]]},{"id":"e3d61406.6ec698","type":"exec","z":"6812dd01.895254","command":"cd workspace && git clone","addpay":true,"append":"","useSpawn":"","timer":"","name":"Clone Repo","x":842.9515380859375,"y":267.4132242202759,"wires":[["46cbb458.787bac","92e2db73.f2b778"],["d1f59057.b27b","d2ff5e2e.a364"],["be2e681b.b11d48"]]},{"id":"354181e6.ab5bfe","type":"exec","z":"6812dd01.895254","command":"say","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":592.8958129882812,"y":446.8888816833496,"wires":[["60cbc218.bf12cc","3d9f492e.aac566"],[],[]]},{"id":"60cbc218.bf12cc","type":"debug","z":"6812dd01.895254","name":"","active":true,"console":"false","complete":"false","x":818.8958129882812,"y":435.8888816833496,"wires":[]},{"id":"ce4f9f3e.e7634","type":"inject","z":"6812dd01.895254","name":"","topic":"","payload":"\"Isn't it nice to have a computer that will talk to you?\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":152.89581298828125,"y":446.8888816833496,"wires":[["643fe3f5.29286c"]]},{"id":"643fe3f5.29286c","type":"function","z":"6812dd01.895254","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":377.89581298828125,"y":445.8888816833496,"wires":[["354181e6.ab5bfe"]]},{"id":"3d9f492e.aac566","type":"function","z":"6812dd01.895254","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":551.895824432373,"y":559.888918876648,"wires":[["643fe3f5.29286c"]]},{"id":"be2e681b.b11d48","type":"exec","z":"6812dd01.895254","command":"cd workspace && npm i && npm run test","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":802.42626953125,"y":357.6996555328369,"wires":[["92e2db73.f2b778"],["d2ff5e2e.a364","d1f59057.b27b"],[]]}]