flows.json
[{"id":"6812dd01.895254","type":"tab","label":"Flow 1"},{"id":"1a364b30.210f95","type":"http in","z":"6812dd01.895254","name":"Github Push Webhook","url":"/github-webhook","method":"post","swaggerDoc":"","x":157.50001525878906,"y":200.75002479553223,"wires":[["aa926fe1.70ddc","cf69e9e3.a15ef8"]]},{"id":"212021bc.bf64ce","type":"function","z":"6812dd01.895254","name":"Get Commit URL","func":"msg.payload = msg.payload.commits[0].url;\nreturn msg","outputs":1,"noerr":0,"x":636.8051986694336,"y":266.0298089981079,"wires":[["56fe636d.c809cc"]]},{"id":"aa926fe1.70ddc","type":"http response","z":"6812dd01.895254","name":"Github Push Response","x":415.44800567626953,"y":201.0833339691162,"wires":[]},{"id":"65a732cb.b965ac","type":"inject","z":"6812dd01.895254","name":"Inject Fake Request","topic":"","payload":"{   \"ref\": \"refs/heads/changes\",   \"before\": \"9049f1265b7d61be4a8904a9a27120d2064dab3b\",   \"after\": \"0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",   \"created\": false,   \"deleted\": false,   \"forced\": false,   \"base_ref\": null,   \"compare\": \"https://github.com/baxterthehacker/public-repo/compare/9049f1265b7d...0d1a26e67d8f\",   \"commits\": [     {       \"id\": \"0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",       \"tree_id\": \"f9d2a07e9488b91af2641b26b9407fe22a451433\",       \"distinct\": true,       \"message\": \"Update README.md\",       \"timestamp\": \"2015-05-05T19:40:15-04:00\",       \"url\": \"https://github.com/jewella/node-red-ci\",       \"author\": {         \"name\": \"baxterthehacker\",         \"email\": \"baxterthehacker@users.noreply.github.com\",         \"username\": \"baxterthehacker\"       },       \"committer\": {         \"name\": \"baxterthehacker\",         \"email\": \"baxterthehacker@users.noreply.github.com\",         \"username\": \"baxterthehacker\"       },       \"added\": [        ],       \"removed\": [        ],       \"modified\": [         \"README.md\"       ]     }   ],   \"head_commit\": {     \"id\": \"0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",     \"tree_id\": \"f9d2a07e9488b91af2641b26b9407fe22a451433\",     \"distinct\": true,     \"message\": \"Update README.md\",     \"timestamp\": \"2015-05-05T19:40:15-04:00\",     \"url\": \"https://github.com/baxterthehacker/public-repo/commit/0d1a26e67d8f5eaf1f6ba5c57fc3c7d91ac0fd1c\",     \"author\": {       \"name\": \"baxterthehacker\",       \"email\": \"baxterthehacker@users.noreply.github.com\",       \"username\": \"baxterthehacker\"     },     \"committer\": {       \"name\": \"baxterthehacker\",       \"email\": \"baxterthehacker@users.noreply.github.com\",       \"username\": \"baxterthehacker\"     },     \"added\": [      ],     \"removed\": [      ],     \"modified\": [       \"README.md\"     ]   },   \"repository\": {     \"id\": 35129377,     \"name\": \"public-repo\",     \"full_name\": \"baxterthehacker/public-repo\",     \"owner\": {       \"name\": \"baxterthehacker\",       \"email\": \"baxterthehacker@users.noreply.github.com\"     },     \"private\": false,     \"html_url\": \"https://github.com/baxterthehacker/public-repo\",     \"description\": \"\",     \"fork\": false,     \"url\": \"https://github.com/baxterthehacker/public-repo\",     \"forks_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/forks\",     \"keys_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/keys{/key_id}\",     \"collaborators_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/collaborators{/collaborator}\",     \"teams_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/teams\",     \"hooks_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/hooks\",     \"issue_events_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/issues/events{/number}\",     \"events_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/events\",     \"assignees_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/assignees{/user}\",     \"branches_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/branches{/branch}\",     \"tags_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/tags\",     \"blobs_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/blobs{/sha}\",     \"git_tags_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/tags{/sha}\",     \"git_refs_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/refs{/sha}\",     \"trees_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/trees{/sha}\",     \"statuses_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/statuses/{sha}\",     \"languages_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/languages\",     \"stargazers_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/stargazers\",     \"contributors_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/contributors\",     \"subscribers_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/subscribers\",     \"subscription_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/subscription\",     \"commits_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/commits{/sha}\",     \"git_commits_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/git/commits{/sha}\",     \"comments_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/comments{/number}\",     \"issue_comment_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/issues/comments{/number}\",     \"contents_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/contents/{+path}\",     \"compare_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/compare/{base}...{head}\",     \"merges_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/merges\",     \"archive_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/{archive_format}{/ref}\",     \"downloads_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/downloads\",     \"issues_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/issues{/number}\",     \"pulls_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/pulls{/number}\",     \"milestones_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/milestones{/number}\",     \"notifications_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/notifications{?since,all,participating}\",     \"labels_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/labels{/name}\",     \"releases_url\": \"https://api.github.com/repos/baxterthehacker/public-repo/releases{/id}\",     \"created_at\": 1430869212,     \"updated_at\": \"2015-05-05T23:40:12Z\",     \"pushed_at\": 1430869217,     \"git_url\": \"git://github.com/baxterthehacker/public-repo.git\",     \"ssh_url\": \"git@github.com:baxterthehacker/public-repo.git\",     \"clone_url\": \"https://github.com/baxterthehacker/public-repo.git\",     \"svn_url\": \"https://github.com/baxterthehacker/public-repo\",     \"homepage\": null,     \"size\": 0,     \"stargazers_count\": 0,     \"watchers_count\": 0,     \"language\": null,     \"has_issues\": true,     \"has_downloads\": true,     \"has_wiki\": true,     \"has_pages\": true,     \"forks_count\": 0,     \"mirror_url\": null,     \"open_issues_count\": 0,     \"forks\": 0,     \"open_issues\": 0,     \"watchers\": 0,     \"default_branch\": \"master\",     \"stargazers\": 0,     \"master_branch\": \"master\"   },   \"pusher\": {     \"name\": \"baxterthehacker\",     \"email\": \"baxterthehacker@users.noreply.github.com\"   },   \"sender\": {     \"login\": \"baxterthehacker\",     \"id\": 6752317,     \"avatar_url\": \"https://avatars.githubusercontent.com/u/6752317?v=3\",     \"gravatar_id\": \"\",     \"url\": \"https://api.github.com/users/baxterthehacker\",     \"html_url\": \"https://github.com/baxterthehacker\",     \"followers_url\": \"https://api.github.com/users/baxterthehacker/followers\",     \"following_url\": \"https://api.github.com/users/baxterthehacker/following{/other_user}\",     \"gists_url\": \"https://api.github.com/users/baxterthehacker/gists{/gist_id}\",     \"starred_url\": \"https://api.github.com/users/baxterthehacker/starred{/owner}{/repo}\",     \"subscriptions_url\": \"https://api.github.com/users/baxterthehacker/subscriptions\",     \"organizations_url\": \"https://api.github.com/users/baxterthehacker/orgs\",     \"repos_url\": \"https://api.github.com/users/baxterthehacker/repos\",     \"events_url\": \"https://api.github.com/users/baxterthehacker/events{/privacy}\",     \"received_events_url\": \"https://api.github.com/users/baxterthehacker/received_events\",     \"type\": \"User\",     \"site_admin\": false   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":149.8304214477539,"y":266.2187604904175,"wires":[["cf69e9e3.a15ef8"]]},{"id":"cf69e9e3.a15ef8","type":"function","z":"6812dd01.895254","name":"Convert Body to Payload","func":"msg.payload = msg.req ? msg.req.body : msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":414.6875915527344,"y":267.12502574920654,"wires":[["212021bc.bf64ce"]]},{"id":"e3d61406.6ec698","type":"exec","z":"6812dd01.895254","command":"git clone","addpay":true,"append":"workspace","useSpawn":true,"timer":"","name":"Clone Repo to Workspace","x":1083.6183891296387,"y":261.413272857666,"wires":[[],[],["be2e681b.b11d48"]]},{"id":"be2e681b.b11d48","type":"exec","z":"6812dd01.895254","command":"cd workspace && npm i && npm run test && cd .. && rm -rf workspace","addpay":false,"append":"","useSpawn":true,"timer":"","name":"Build Source & Delete Workspace","x":1398.1411743164062,"y":263.1760368347168,"wires":[["f9cabaac.f605b8"],["f9cabaac.f605b8"],["ec1f9ccb.b44cc","3a32e260.546c2e"]]},{"id":"56fe636d.c809cc","type":"function","z":"6812dd01.895254","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":766.9941329956055,"y":168.41273593902588,"wires":[["11735d0a.d03a93"]]},{"id":"ec1f9ccb.b44cc","type":"function","z":"6812dd01.895254","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1\nreturn msg;","outputs":1,"noerr":0,"x":769.8515014648438,"y":36.98424243927002,"wires":[["56fe636d.c809cc"]]},{"id":"3a32e260.546c2e","type":"switch","z":"6812dd01.895254","name":"Success?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"neq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":1707.5498275756836,"y":318.28581285476685,"wires":[["420f21bf.a5871"],["35742a28.7046f6"]]},{"id":"f9cabaac.f605b8","type":"file","z":"6812dd01.895254","name":"Log","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1700.3921279907227,"y":217.32147789001465,"wires":[]},{"id":"90d5c670.94f558","type":"file","z":"6812dd01.895254","name":"Append Log","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2087.5497722625732,"y":311.33143043518066,"wires":[]},{"id":"420f21bf.a5871","type":"change","z":"6812dd01.895254","name":"Success!","rules":[{"t":"set","p":"payload","pt":"msg","to":"Build Successful.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1870.406925201416,"y":297.3185157775879,"wires":[["90d5c670.94f558"]]},{"id":"35742a28.7046f6","type":"change","z":"6812dd01.895254","name":"Failure...","rules":[{"t":"set","p":"payload","pt":"msg","to":"Build Failed.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1867.4702529907227,"y":341.61907958984375,"wires":[["90d5c670.94f558"]]},{"id":"11735d0a.d03a93","type":"function","z":"6812dd01.895254","name":"Set Log Filename","func":"msg.filename = `build-${Date.now()}.log`;\nreturn msg;","outputs":1,"noerr":0,"x":1000.4573974609375,"y":168.3333396911621,"wires":[["e3d61406.6ec698"]]}]